<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="vbiriukov" value="https://nuget.pkg.github.com/vbiriukov/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <vbiriukov>
      <add key="Username" value="vbiriukov" />
      <add key="ClearTextPassword" value="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" />
    </vbiriukov>
  </packageSourceCredentials>
</configuration>
